Repository john-d-pelingo/cra-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty, npm run lint

.lintstagedrc:

{
  "concurrent": false,
  "linters": {
    "src/**/*.{js,css}": [
      "npm run pretty",
      "git add"
    ],
    "src/**/*.js": [
      "npm run lint"
    ]
  }
}

Upgrade dependencies
  package.json
  yarn.lock
Due: none

Prettify README
  README.md
Due: none

Update eslint config
  .eslintrc.yml
Due: none

Add hot reload
  src/index.js
Due: npm run pretty, npm run lint

Fix linting error
  src/index.js
Due: npm run pretty, npm run lint

Change src directory structure
  src/assets/logo.svg
  src/components/__tests__/__snapshots__/app.test.js.snap
  src/components/__tests__/app.test.js
  src/components/app.js
  src/index.js
  src/styles/components/app.css
  src/styles/reset.css
Due: npm run pretty, npm run lint

Upgrade prettier
  package.json
  yarn.lock
Due: none

Upgrade eslint dependency
  package.json
  yarn.lock
Due: none

Upgrade to CRA 2
  package.json
  serve.json
  yarn.lock
Due: none

Upgrade (read more)
  .eslintrc.yml
  .lintstagedrc
  README.md
  package.json
  public/index.html
  public/manifest.json
  src/assets/logo.svg
  src/index.js
  src/serviceWorker.js
  src/setupTests.js
  yarn.lock
Due: npm run pretty, npm run lint

More robust changes
  .eslintrc.yml
  .lintstagedrc
  .prettierrc
  package.json
  src/components/__tests__/app.test.js
  src/components/app.js
  src/index.js
  src/serviceWorker.js
  src/setupTests.js
Due: npm run pretty, npm run lint

Replace enzyme with react-testing-library
  package.json
  src/components/__tests__/__snapshots__/app.test.js.snap
  src/components/__tests__/app.test.js
  src/setupTests.js
  yarn.lock
Due: npm run pretty, npm run lint

Switch to TS
  .lintstagedrc
  package.json
  src/components/__tests__/app.test.tsx
  src/components/app.tsx
  src/index.tsx
  src/react-app-env.d.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: none

Fix scripts
  package.json
  src/components/app.tsx
Due: none

Add gold goodies (read more)
  package.json
  src/assets/reset.css
  src/components/app.tsx
  src/components/app/__tests__/app.test.tsx
  src/components/app/app.tsx
  src/components/app/index.ts
  src/components/app/styles.module.scss
  src/components/app/styles.module.scss.d.ts
  src/index.tsx
  src/react-app-env.d.ts
  src/styles/reset.css
  yarn.lock
Due: npm run pretty

Add first react-testing-library test
  src/components/app/__tests__/app.test.tsx
  src/components/app/app.tsx
  src/helpers/__tests__/foo.test.ts
  src/helpers/foo.ts
  src/setupTests.js
  tslint.json
Due: npm run pretty, npm run lint

Fix annoying bug with cases
  src/components/FavoriteNumber/index.ts
  src/components/app/__tests__/app.test.tsx
  src/components/app/app.tsx
  src/components/app/index.ts
  src/components/app/styles.module.scss
  src/components/app/styles.module.scss.d.ts
  src/components/index.ts
  src/index.tsx
Due: none

Fix annoying file name case
  src/components/App/App2.tsx
  src/components/App/__tests__/app.test.tsx
  src/components/App/index.ts
  src/components/App/styles.module.scss
  src/components/App/styles.module.scss.d.ts
  src/components/FavoriteNumber/FavoriteNumber.tsx
  src/components/FavoriteNumber/index.ts
Due: none

Add additional input component for testing purposes
  src/components/App/App.tsx
  src/components/App/index.ts
  src/components/FavoriteNumber/FavoriteNumber.tsx
  src/components/FavoriteNumber/index.ts
  src/components/index.ts
Due: none

Fix issues (read more)
  README.md
  src/components/App/__tests__/App2.test.tsx
  src/components/FavoriteNumber/__tests__/FavoriteNumber.test.tsx
Due: none

Fix annoying case error
  src/components/App/__tests__/App.test.tsx
Due: none

Add more handy tests from Testing JavaScript
  src/components/App/App.tsx
  src/components/TestingJavaScriptFavoriteNumber/FavoriteNumber.tsx
  src/components/TestingJavaScriptFavoriteNumber/__tests__/FavoriteNumber.test.tsx
  src/components/TestingJavaScriptFavoriteNumber/index.ts
  src/components/TestingJavaScriptGreetingLoader/GreetingLoader.dependency-injection.tsx
  src/components/TestingJavaScriptGreetingLoader/GreetingLoader.http-jest-mock.tsx
  src/components/TestingJavaScriptGreetingLoader/__tests__/GreetingLoader.dependency-injection.test.tsx
  src/components/TestingJavaScriptGreetingLoader/__tests__/GreetingLoader.http-jest-mock.test.tsx
  src/components/TestingJavaScriptGreetingLoader/api.ts
  src/components/TestingJavaScriptGreetingLoader/index.ts
  src/components/index.ts
Due: none

Add testing react-transition-group
  package.json
  src/components/App/App.tsx
  src/components/TestingJavaScriptHiddenMessage/Fade.tsx
  src/components/TestingJavaScriptHiddenMessage/HiddenMessage.tsx
  src/components/TestingJavaScriptHiddenMessage/__tests__/HiddenMessage.test.tsx
  src/components/TestingJavaScriptHiddenMessage/index.ts
  src/components/index.ts
  yarn.lock
Due: none

Add ErrorBoundary test
  src/components/TestingJavaScriptErrorBoundary/ErrorBoundary.tsx
  src/components/TestingJavaScriptErrorBoundary/__tests__/ErrorBoundary.test.tsx
  src/components/TestingJavaScriptErrorBoundary/index.ts
  src/components/TestingJavaScriptGreetingLoader/GreetingLoader.dependency-injection.tsx
  src/components/TestingJavaScriptGreetingLoader/GreetingLoader.http-jest-mock.tsx
  src/components/TestingJavaScriptGreetingLoader/__tests__/GreetingLoader.http-jest-mock.test.tsx
  src/helpers/__tests__/foo.test.ts
  src/helpers/api.ts
  src/helpers/foo.ts
Due: none

Add ErrorBoundary in App component
  src/components/App/App.tsx
  src/components/index.ts
Due: none

Add Form testing
  package.json
  src/components/App/App.tsx
  src/components/TestingJavaScriptEditor/Editor.tsx
  src/components/TestingJavaScriptEditor/__tests__/Editor.test.tsx
  src/components/TestingJavaScriptEditor/index.ts
  src/components/TestingJavaScriptErrorBoundary/ErrorBoundary.tsx
  src/components/TestingJavaScriptErrorBoundary/__tests__/ErrorBoundary.test.tsx
  src/components/index.ts
  src/helpers/api.ts
  src/react-app-env.d.ts
  yarn.lock
Due: none

Add react-router-dom testing
  package.json
  src/components/TestingJavaScriptReactRouter/Main.tsx
  src/components/TestingJavaScriptReactRouter/__tests__/Main.test.tsx
  src/components/TestingJavaScriptReactRouter/index.ts
  src/components/index.ts
  yarn.lock
Due: none

Add features (read more)
  README.md
  package.json
  src/components/App/App.tsx
  src/components/TestingJavaScriptForm/Editor.tsx
  src/components/TestingJavaScriptForm/__tests__/Editor.test.tsx
  src/components/TestingJavaScriptForm/index.ts
  src/components/TestingJavaScriptReactTransitionGroup/Fade.tsx
  src/components/TestingJavaScriptReactTransitionGroup/HiddenMessage.tsx
  src/components/TestingJavaScriptReactTransitionGroup/__tests__/HiddenMessage.test.tsx
  src/components/TestingJavaScriptReactTransitionGroup/index.ts
  src/components/TestingJavaScriptRenderProps/Toggle.tsx
  src/components/TestingJavaScriptRenderProps/__tests__/Toggle.test.tsx
  src/components/TestingJavaScriptRenderProps/index.ts
  src/components/index.ts
Due: none

Fail build on TSLint error
  package.json
  src/components/App/App.tsx
Due: none

Add portals tests
  public/index.html
  src/components/App/App.tsx
  src/components/App/__tests__/App.test.tsx
  src/components/TestingJavaScriptErrorBoundary/ErrorBoundary.tsx
  src/components/TestingJavaScriptErrorBoundary/__tests__/ErrorBoundary.test.tsx
  src/components/TestingJavaScriptFavoriteNumber/FavoriteNumber.tsx
  src/components/TestingJavaScriptFavoriteNumber/__tests__/FavoriteNumber.test.tsx
  src/components/TestingJavaScriptForm/Editor.tsx
  src/components/TestingJavaScriptForm/__tests__/Editor.test.tsx
  src/components/TestingJavaScriptGreetingLoader/GreetingLoader.dependency-injection.tsx
  src/components/TestingJavaScriptGreetingLoader/GreetingLoader.http-jest-mock.tsx
  src/components/TestingJavaScriptGreetingLoader/__tests__/GreetingLoader.dependency-injection.test.tsx
  src/components/TestingJavaScriptGreetingLoader/__tests__/GreetingLoader.http-jest-mock.test.tsx
  src/components/TestingJavaScriptPortals/Modal.tsx
  src/components/TestingJavaScriptPortals/__tests__/Modal.test.tsx
  src/components/TestingJavaScriptPortals/index.ts
  src/components/TestingJavaScriptReactRouter/Main.tsx
  src/components/TestingJavaScriptReactRouter/__tests__/Main.test.tsx
  src/components/TestingJavaScriptReactTransitionGroup/Fade.tsx
  src/components/TestingJavaScriptReactTransitionGroup/HiddenMessage.tsx
  src/components/TestingJavaScriptReactTransitionGroup/__tests__/HiddenMessage.test.tsx
  src/components/TestingJavaScriptRenderProps/Toggle.tsx
  src/components/TestingJavaScriptRenderProps/__tests__/Toggle.test.tsx
  src/components/index.ts
Due: none

Add react unmount tests
  src/components/App/App.tsx
  src/components/TestingJavaScriptBasic/FavoriteNumber.tsx
  src/components/TestingJavaScriptBasic/__tests__/FavoriteNumber.test.tsx
  src/components/TestingJavaScriptBasic/index.ts
  src/components/TestingJavaScriptMockAndDependencyInjection/GreetingLoader.dependency-injection.tsx
  src/components/TestingJavaScriptMockAndDependencyInjection/GreetingLoader.http-jest-mock.tsx
  src/components/TestingJavaScriptMockAndDependencyInjection/__tests__/GreetingLoader.dependency-injection.test.tsx
  src/components/TestingJavaScriptMockAndDependencyInjection/__tests__/GreetingLoader.http-jest-mock.test.tsx
  src/components/TestingJavaScriptMockAndDependencyInjection/index.ts
  src/components/TestingJavaScriptUnmount/Countdown.tsx
  src/components/TestingJavaScriptUnmount/__tests__/Countdown.test.tsx
  src/components/TestingJavaScriptUnmount/index.ts
  src/components/index.ts
Due: none

Add snapshot tests
  src/components/TestingJavaScriptBasic/__tests__/FavoriteNumber.test.tsx
  src/components/TestingJavaScriptBasic/__tests__/__snapshots__/FavoriteNumber.test.tsx.snap
Due: none
